




<div class="map-container group">
  <div id='map'></div>
</div>

<div class="bounded-listings"></div>


<style>
  #map { 
    position:absolute; 
    top:75px; 
    left: 75px;
    bottom:0; 
    width: 500px;
    height: 66%; 
    border: 1px solid #cacaca;
    display: block;
  }
  .map-container {
    width: 500px;
    display: block;
    float: left;
    height: 100%;
    
  }
  
</style>