<h3><%= @message.subject %></h3>
<p><%= @message.body %></p>
<% unless @message.sender_id == 0 %>
  <h4>Reply</h4>
  <% params[:user_id] = @message.sender_id %>
  <%= render "message_form", user_id: @message.sender_id %>
<% end %>