<div class="sign-form group">

<a class="facebook-login" href="/auth/facebook">
  <img src="<%= asset_path("fblogin.png") %>" class="fb">
</a>

<form class="new-user group" action="<%= session_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="user_email">Email</label>
  <input
    type="text"
    name="user[email]"
    id="user_email">

  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]">


  <button>Sign In</button>
  <div class="demo-user">Demo User</button></div>
</form>
</div>

<script>
$('div.demo-user').click(function() {
  $('input#user_email').val("ned@stark.com")
  $('input[type=password]').val("ILoveCatelyn")
})

</script>
