<div class="dashboard-menu group">
  <div class="dashboard-item dash-menu-wrapper">
    <li><a href="#/mylistings">Listings</a></li>
    <li><a href="#/mymessages" class="active">Messages</a></li>
    <li><a href="#/myreservations">Reservations</a></li>
    <li><a href="#/myreviews">Reviews</a></li>
  </div>
</div>


<div class="dashboard-item dash-listings">
  <% messages.each(function(message) {%>
    <li><a href="/messages/<%= message.escape("id") %>"><%= message.escape("subject") %></a> -
      <%= message.escape("author") %></li>
  <% }); %>
</div>
