<% @listings.each do |listing| %>
  <div class="listing-box"><div class="listing-primary-image"></div><li><%= link_to listing.name, listing_url(listing) %> - $<%= number_with_precision(listing.price, :precision => 2)%></li></div>
<% end %>