<div class="dashboard-menu group">
  <div class="dashboard-item dash-menu-wrapper">
    <li><a href="#/mylistings">Listings</a></li>
    <li><a href="#/conversations">Messages</a></li>
    <li><a href="#/myreservations" class="active">Reservations</a></li>
    <li><a href="#/myreviews">Reviews</a></li>
  </div>
</div>

<div class="dashboard-item dash-reservations">

  <% reservations.each(function(res) { %>
    <li><%= res.formattedDate(res.attributes.start_date) %> to <%= res.formattedDate(res.attributes.end_date) %> for $<%= res.price() %></li>
  <% }); %>
    
</div>


