
<div class="message-form-input">
  <span class="modal-close js-hide-modal">&times;</span>
  <form class="user-new-message modal">  
    <label for="subject">subject</label>
    <input
      type="text"
      name="message[subject]"
      id="subject">

    <label for="body">Body</label>
    <textarea
      name="message[body]"
      id="body"></textarea>

      <button class="send-message">Send</button>
  </form>
</div>
<div class="modal-screen"></div>

