<a href="#/conversations">Back</a>

<form class="conversation-new-message group">
  <i>New Message</i>
  
  <label for="subject">subject</label>
  <input
    type="text"
    name="message[subject]"
    id="subject"
    placeholder="Subject">

  <label for="body">Body</label>
  <textarea
    name="message[body]"
    id="body"
    placeholder="Content"></textarea>

    <button>Send</button>
</form>


<div class="conversation">
  <% conversation.messages().each(function(message) { %>    
    <% if (message.attributes.author_id === conversation.attributes.self_id) { %>
      <div class="self-message group">
    <% } else { %>
      <div class="other-message group">
    <% } %>
      <img src="<%= message.escape("author_pic") %>">
      <div class="message-content">
        <strong><%= message.escape("subject") %></strong>
        <p><%= message.escape("body") %></p>
        <h3><%= message.escape("send_date").toLocaleString('en') %></h3>
      </div>
    </div>
    
    
    
    <% }); %>
</div>
  
