<img src="<%= asset_path('main_chair1.jpg')%>" class="welcome"></img>
  <div class="welcome-page">
    <div class="home-left-panel home-panel">
      <div class="home-explanation">
        <h3>Welcome to ChairBnB!</h3>
        <p>Whether you're looking for a chair, or you've got a chair to offer,
          we've got you covered!</p>
        <p>Take a seat!</p>
      </div>
    </div>
    <div class="home-right-panel home-panel">
      <h1>SIT DOWN</h1>
      <a href="#/listings"><div class="welcome-listings-link">Look at our listings!</div></a>
    </div>
  </div>
  <div class="links-panel group">
    <a href="/#/search/chicago">
      <div class="location-link">
        <div class="overlay"></div>
        <img class="location-pic" src="<%= asset_path('chicago.jpg') %>">
      </img>
      <h3>Chicago</h3>
    </div>
  </a>

    <a href="/#/search/new%20york%20city">
      <div class="location-link">
        <div class="overlay"></div>
        <img class="location-pic" src="<%= asset_path('new_york.jpg') %>">
      </img>
      <h3>New York City</h3>
    </div>
  </a>

    <a href="/#/search/miami">
      <div class="location-link">
        <div class="overlay"></div>
        <img class="location-pic" src="<%= asset_path('miami.jpg') %>">
      </img>
        <h3>Miami</h3>
      </div>
    </a>
  </div>
