/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3, h4, h5, h6, ul, li, div, p, a, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  list-style: none;
  color: inherit;

}
html, body {
  font-family: 'Cabin', sans-serif;
  height: 100%;
  background-color: #eDeFeD;
}

ul.error-messages {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  background: red;
}
.group:after {
content: "";
display: block;
clear: both;
}

div.content {
min-height: 100%;
}



nav.main-navbar {
  width: 100%;
  min-width: 600px;
  height: 40px;
  border-bottom: 1px solid #E4E6E3;
}

nav.main-navbar > .button_to {
  float: right;
  margin: 7px 10px;
  font-size: 15px;
  font-weight: bold;
}


div.username-header, a.dashboard-header,  a.login-header {
  float: right;
  margin: 10px 10px 5px;
  font-size: 15px;
  font-weight: bold;
  color: #565A5C;
}

a.addchair-header {
  float: right;
  margin: 5px 10px 5px;
  font-size: 15px;
  font-weight: bold;
  background: #037A87;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
}


footer {
  width: 100%;
  min-width: 600px;
  height: 40px;
  border-top: 1px solid #E4E6E3;
}

footer > a {
  float: right;
  margin: 5px;
  text-decoration: none;
  color: #565A5C;
}


.home-panel > h1 {
  padding: 200px 0 0;
  font-size: 75px;
  font-weight: bold;
  color: white;
}

div.welcome-listings-link {
  display: block;
  background: grey;
  margin: 25px auto 250px;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  background: lightgrey;
  border-radius: 3px;
  padding: 10px 15px 10px;
  opacity: .5;
  }

.home-panel > a {
  color: white;
  opacity: 1;
}

.welcome-listings-link:hover {
  background: black;
}




div.listing-primary-image {
  display: block;
  float: left;
  height: 100px;
  width: 100px;
}

div.listing-review-score {
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  border: 0;
  margin: 0;
  line-height: 25px;

}


img.header-icon {
  height: 35px;
  margin: 2px 5px;
  float: left;
}

div.dashboard-item {
  width: 800px;
  margin: 10px auto;
  borderborder: 3px solid grey;
}

div.dashboard-item > h2 {
  padding: 4px;
  border-bottom: 2px solid grey;
}

div.dashboard-item > li {
  padding: 3px 5px ;
}

.new-listing {
  display: block;
  padding: 10px;
  margin: auto;
  width: 800px;
}

div.listing-input {
  margin: 10px 15px;
}

.input-room-type, .input-chair-type {
  float: left;
}

div.listing-show {
  display: block;
  padding: 10px;
  margin: auto;
  width:800px;
}

div.listing-show {
  width: 800px;
  display: block;
}

div.listing-show-info {
  width: 600px;
  padding: 0 30px;
  float: left;
  display: block;
  color: #565A5C;
  border-bottom: 1px solid #DCE0E0;
}

div.listing-show-attributes {
 width: 600px;
 float: left;
 display: block;
 color: #82888A;
}

div.listing-show-attributes > li {
  float: left;
  padding: 10px 20px 10px 0;
}


img.profile-pic {
  height: 100px;
  margin: auto;
}

div.profile-pic-border {
  float: left;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

div.personal-info {
  display: block;
  float: left;
}

div.owner-info > h4 {
  color: #8f9596;
}

div.owner-info {
  width: 100px;
  display: block;
  float: left;
  margin: 0 0 0 100px;
}

div.owner-info > h4 {
    text-align: center;
}


img.listing-pic {
  width: 100px;
}

/* Dashboard Menubar */

div.dashboard-menu {
  background: #565A5C;
  display: block;
}

div.dash-menu-wrapper {
  width: 800px;
  display: block;
  margin: auto;
}

div.dash-menu-wrapper > li {
  float: left;
}

div.dash-menu-wrapper > li > a {
  color: #CACCCD;
  padding: 5px 0;
  display: block;
  font-size: 12px;

}
div.dash-menu-wrapper > li > a.active{
  color: white;
  padding: 5px 0 3px;
  border-bottom: 2px solid white;
}
div.dash-menu-wrapper > li > a:hover{
    color: white;
}

div.review-form-modal {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 200px;
  padding: 50px;
  margin-left: -250px;
  transform: translateY(-50%);
  background: white;
  border-radius: 5px;
}

div.message-form-modal {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 200px;
  padding: 50px;
  margin-left: -250px;
  transform: translateY(-50%);
  background: white;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}


div.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

input.search-form {
  margin: 4px 3px 4px;
  font-size: 14px;
  color: #909697;
  width: 162px;
  float: right;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #eDeFeD;
}
}

input.search-form:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

div.search-box {
  float: left;
  display: block;
  border: 1px solid #C4C4C4;
  width: 200px;
  height: 28px;
  margin: 2px 20px;
  border-radius: 2px;

}

img.header-logo{
  height: 30px;
  float: left;
  margin: 2px -5px;
}

img.search-icon {
  float: left;
  height: 30px;
  -webkit-filter: invert(50%);
}
