/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3, h4, h5, h6, ul, li, div, p, a, button {
  margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
  font-family: sans-serif;
  background: inherit;
  text-decoration: none;
  list-style: none;
}

ul.error-messages {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  background: red;
}
.group:after {
content: "";
display: block;
clear: both;
}

div.content {
  min-height: 500px;
}
div.main-navbar {
  width: 100%;
  min-width: 600px;
  height: 30px;
  background: lightgrey;
}

div.main-navbar > .button_to {
  float: right;
  margin: 7px 10px;
}
div.username-header, a.dashboard-header, a.addchair-header,  a.login-header {
  float: right;
  margin: 10px 10px 5px;
  font-size: 13px;
}


div.footbar {
  width: 100%;
  height: 25px;
  background: lightgrey;
    min-width: 600px;
}

div.footbar > a {
  float: right;
  margin: 5px;
  text-decoration: none;
}

div.welcome-page {
  display: block;
  margin: 10px;
  margin: auto;

  height: 600px;
  text-align: center;
}
.welcome-page > h1 {
  margin: 150px;
}

div.listing-box {
  height: 125px;
  display: block;
}

div.listing-primary-image {
  display: block;
  float: left;
  height: 100px;
  width: 100px;
}

div.listing-box > li{
  float: left;
  display: block;
}

img.header-icon {
  height: 25px;
}

div.dashboard-item {
  height: 200px;
  width: 600px;
  margin: 10px auto;
  border: 3px solid grey;
}

div.dashboard-item > h2 {
  padding: 4px;
  border-bottom: 2px solid grey;
}

div.dashboard-item > li {
  padding: 3px 5px ;
}

.new-listing {
  display: block;
  padding: 10px;
  margin: auto;
  width: 800px;
}

div.listing-input {
  margin: 10px 15px;
}

.input-room-type, .input-chair-type {
  float: left;
}

div.listing-show {
  display: block;
  padding: 10px;
  margin: auto;
  width:800px;
}

div.listing-show {
  width: 800px;
  display: block;
}
div.listing-show-info {
  width: 600px;
  padding: 10px;
  float: left;
  display: block;
  
}

img.profile-pic {
  height: 100px;
  margin: auto;
}

div.profile-pic-border {
  float: left;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border: 2px solid black;
}

div.personal-info {
  display: block;
  float: left;
}

div.listing-utilities {
  display: block;
  border-top: 1px lightgrey;
  width: 200px;
  position: absolute;
  top: 50px;
  right: 20px;
}

div.owner-info {
  width: 150px;
  display: block;
  float: left;
}

img.listing-pic {
  width: 100px;
}

div.listing-pictures {
  margin: auto;
  text-align: center;
  
}
