// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.dash-new-messages > li {
  height: 50px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #DCe0e0;
  margin-top: 10px;
}

a.main-message-preview > img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 25px;
  float: left;
}

a.main-message-preview > * {
  font-size: 24px;
}
a.main-message-preview > h3 {
  float: left;
  margin-top: 10px;
  margin-left: 40px;
  font-style: bold;
}

a.main-message-preview > h5 {
  float: right;
  font-weight: bold;
}





div.dash-messages.dashboard-item > li {
  height: 100px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #DCe0e0;
  margin-top: 15px;
}

a.message-preview > img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  float: left;
}

a.message-preview > * {
  font-size: 24px;
}
a.message-preview > h3 {
  float: left;
  margin-top: 35px;
  margin-left: 40px;
  font-style: bold;
}

a.message-preview > h4 {
  float: left;
  margin-top: 35px;
  margin-left: 40px;
  font-weight: normal;
}
a.message-preview > h5 {
  float: right;
  margin-top: 35px;
  margin-right: 40px;
  font-weight: bold;
}

section.conversation-show {
  width: 800px;
  margin: auto;
}

div.other-message {
  position: relative;
  margin: 5px;
  width: 800px;
}

div.self-message {
  position: relative;
  margin: 5px;
  width: 800px;
  margin-left: 90px;
}

div.message-content {
  border-radius: 10px;
  background: #E5F7FE;
  width: 713px;
  min-height: 85px;
}

div.conversation img {
  height: 73px;
  margin: 5px;
  border-radius: 50px;
}

div.other-message > img {
  float: left;

}

div.self-message > img {
  float: right;
}


div.message-content > strong {
  width: 705px;
  padding: 5px 5px 0;
}

div.message-content > p {
  width: 705px;
  padding: 5px;
}

div.message-content > h3 {
  color: grey;
}

div.other-message > div.message-content {
  float: right;
}


div.other-message > div.message-content > strong {
  float: left;
}

div.other-message > div.message-content > p {
  float: left;
}

div.other-message > div.message-content > h3 {
  float: right;
}

div.other-message > div.message-content:after {
  position: absolute;
  top: 30px;
  left: 77px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left:  0px solid #E5F7FE;
  border-right: 10px solid #E5F7FE;
}

div.self-message > div.message-content:after {
  position: absolute;
  top: 30px;
  right: 77px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #E5F7FE;
  border-right: 0px solid #E5F7FE;
}

div.self-message > div.message-content {
  float: left;
}

div.self-message > div.message-content > strong {
  float: right;
}

div.self-message > div.message-content > p {
  float: right;
}

div.self-message > div.message-content > h3 {
  float: left;
}

form.conversation-new-message {
  position: relative;
  border-radius: 10px;
  background: #E5F7FE;
  width: 713px;
  min-height: 85px;
  margin-left: 90px ;
}

form.conversation-new-message > label {
  visibility: hidden;
  position: absolute;
}

form.conversation-new-message > input {
  float: left;
  display: block;
  background: inherit;
  border: none;
  margin: 10px 10px 5px 10px;
  font-size: 14px;
}

form.conversation-new-message > textarea {
  float: left;
  display: block;
  background: inherit;
  width: 600px;
  margin: 10px;
  font-size: 16px;
  border: none;
  height: 100px;
}

form.conversation-new-message > button {
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  display: block;
  padding: 5px 10px;
  background: #54B517;
  margin: 10px;
  color: white;
  border-radius: 2px;
  box-shadow: 0 1px grey;
  outline: none;
}


form.conversation-new-message > i {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 12px;
  color: grey;
  font-weight: bold;
}

form.conversation-new-message > button:active {
  box-shadow: none;
  bottom: -1px;
}
