// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img.fb {
  width: 200px;
  float: left;
  padding:0 25px 5px;
  border-bottom: 1px dashed #c4c4c4;
}

div.sign-form > a {
  display: block;
}

div.sign-form {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

form.new-user > input, form.new-user > label {
  display: block;
  width: 225px;
  text-align: center;
  padding: 2px;
  margin: auto;

  border-radius: 2px;
}

form.new-user > label {
  padding: 5px 0 0;
}

form.new-user > input {
    border: 1px solid #c4c4c4;
}

form.new-user {
  padding: 5px 0;
}
div.sign-form > h1 {
  float: left ;
  text-align: center;
  display: block;
}

form.new-user > button {
  box-shadow: 0 1px 0 #E00007;
  display: block;
  margin: 8px auto;
  width: 225px;
  padding: 5px;
  border-radius: 2px;
  background: #FF5A5F;
  color: white;
}


div.sign-form {
  display: block;
  margin: 100px auto;
  width: 250px;
  color: #565A5C;
}

div.demo-user {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  width: 213px;
  text-align: center;
  margin: 8px auto;
  cursor: pointer;
}
