// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.welcome-page {
  display: block;
  margin: 10px;
  margin: auto;
  background-image: image-url('main_chair1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  min-width: 800px;
}